* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background-white: #fff;
  --Text-black: #0c131a;
  --Text-white: #e8f2fc;
  --Button-blue: #2f80ed;
  --Button-blue-1: #6da6f2;
  --Button-blue-hover: #225ead;
  --green: #51a495;
  --greenHard: #219653;
  --grey: #a8adb1;
  --red: #eb5757;
}

@media (max-width: 1080px) {
  html {
    font-size: 160%;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 110%;
  }
}

body {
  background-color: var(--background-white);
  color: var(--Text-black);
}

body {
  font: 400 1.6rem 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  font: 400 1.6rem 'Montserrat', sans-serif;
}

small {
  font: 400 1.2rem 'Montserrat', sans-serif;
}

h1 {
  font: 400 5rem 'Montserrat', sans-serif;
}

h2 {
  font: 400 3.7rem 'Montserrat', sans-serif;
}

h3 {
  font: 400 2.8rem 'Montserrat', sans-serif;
}

h4 {
  font: 400 2.1rem 'Montserrat', sans-serif;
}

.primaryButton {
  background-color: var(--Button-blue);
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 15mm;
  margin: 16px;
  flex-direction: column;
}

.primaryButton:hover {
  background-color: var(--Button-blue-hover);
}

.primaryButton span {
  color: var(--Text-white);
  width: 100%;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}
