.headerContainer {
  height: 6.5rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  padding: 2rem 4rem;

  button {
    padding: auto;
    margin-left: auto;
    margin-right: 6rem;
    color: #fff;
    background-color: #2f80ed;
    border-color: #2f80ed;
    border-width: 0ch;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: left;
  }
  div {
    gap: 4rem;
  }
}
