.title {
  width: 660px;
  height: 156px;
  left: 675px;
  top: 242px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */

  color: #ffffff;

  opacity: 0.9;
}

.text {
  width: 533px;
  height: 96px;
  left: 675px;
  top: 414px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  opacity: 0.8;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
